{% extends "base.html.twig" %}

{% block title %}
    Bienvenue sur le meilleur réseau d\'appartements !
{% endblock %}

{% block body %}
    <div class="container">
        <div class="jumbotron mt-3">
            <h1 class="display-3">Bienvenue sur SymBNB !</h1>
            <p class="lead">Nous mettons en relation les voyageurs et les propriétaires qui veulent profiter d'opportunités et gagner de l'argent en proposant leur bien à la location!</p>
            <hr class="my-4">
            <p>Vous êtes voyageur ? Vous voulez voir où vous pouvez loger lors de votre prochain déplacement ? Suivez le guide !</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">Voir nos annonces</a>
            </p>
        </div>

        <h2 class="h1 mt-3 mb-4">Nos appartements stars !</h2>

        <div class="row">
            <div class="col-md-4">
                <div class="card bg-light mb-3">
                    <div class="card-header text-center">
                        3 chambres,
                        <strong>49&euro; / nuit</strong>
                        <br>
                        <small>Pas encore noté</small>
                    </div>

                    <img src="http://placehold.it/1000x400" alt="Image de l'appartement" style="height: 200px; width:100%; display: block">

                    <div class="card-body">
                        <h4 class="card-title">
                            Appartement de standing !
                        </h4>
                        <p class="card-text">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga commodi quasi numquam atque. Nam eum corporis rerum doloribus possimus odio.
                        </p>
                        <a href="#" class="btn btn-secondary">En savoir plus</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card bg-light mb-3">
                    <div class="card-header text-center">
                        3 chambres,
                        <strong>49&euro; / nuit</strong>
                        <br>
                        <small>Pas encore noté</small>
                    </div>

                    <img src="http://placehold.it/1000x400" alt="Image de l'appartement" style="height: 200px; width:100%; display: block">

                    <div class="card-body">
                        <h4 class="card-title">
                            Appartement de standing !
                        </h4>
                        <p class="card-text">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga commodi quasi numquam atque. Nam eum corporis rerum doloribus possimus odio.
                        </p>
                        <a href="#" class="btn btn-secondary">En savoir plus</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card bg-light mb-3">
                    <div class="card-header text-center">
                        3 chambres,
                        <strong>49&euro; / nuit</strong>
                        <br>
                        <small>Pas encore noté</small>
                    </div>

                    <img src="http://placehold.it/1000x400" alt="Image de l'appartement" style="height: 200px; width:100%; display: block">

                    <div class="card-body">
                        <h4 class="card-title">
                            Appartement de standing !
                        </h4>
                        <p class="card-text">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga commodi quasi numquam atque. Nam eum corporis rerum doloribus possimus odio.
                        </p>
                        <a href="#" class="btn btn-secondary">En savoir plus</a>
                    </div>
                </div>
            </div>

        </div>

        <h2 class="h1 mt-3 mb-4">Nos propriétaires stars !</h2>

        <div class="row">
            <div class="col">
                <div class="card border-secondary mb-3">
                    <div class="card-body">
                        <h4 class="card-title">Jacques Chirac</h4>
                    </div>
                    <hr>

                    <div class="card-text">
                        <img src="http://placehold.it/64x64" alt="Avatar de Jacques Chirac" class="float-left mr-3">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, odit.</p>
                        <a href="#" class="btn btn-success float-right">En savoir plus</a>
                    </div>

                </div>
            </div>


            <div class="col">
                <div class="card border-secondary mb-3">
                    <div class="card-body">
                        <h4 class="card-title">Jacques Chirac</h4>
                    </div>
                    <hr>

                    <div class="card-text">
                        <img src="http://placehold.it/64x64" alt="Avatar de Jacques Chirac" class="float-left mr-3">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, odit.</p>
                        <a href="#" class="btn btn-success float-right">En savoir plus</a>
                    </div>

                </div>
            </div>

        </div>
    </div>
{% endblock %}
